<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src= "/assets/logoprincipal.svg" id="logoPrincipal">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Cadastrar-se</h3>
    <p id="Descricao">preencha os campos abaixo</p>

    <div id="stepProgressBar">
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Nome de usuário</ion-label>
        <ion-input formControlName="nome" type="text" placeholder="Digite aqui o nome" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.nome">
        <ng-container *ngIf="nome.hasError(error.type) && (nome.dirty || nome.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Digite aqui o email" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="senha" type="password" placeholder="Digite aqui a senha" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.senha">
        <ng-container *ngIf="senha.hasError(error.type) && (senha.dirty || senha.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Confirmar senha</ion-label>
        <ion-input formControlName="confirmar_senha" type="password" placeholder="Confirme aqui a senha" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.confirmar_senha">
        <ng-container *ngIf="confirmar_senha.hasError(error.type)  && (confirmar_senha.dirty || confirmar_senha.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ng-container *ngIf="cadastroForm.hasError('passwordNotMatch')">
        <small class="error-message">As senhas devem ser iguais</small>
      </ng-container>
      <div id="divTermos">
        <ion-label>Ao clicar em Continuar, você concorda com nossos</ion-label><br>
        <a id="Termos">Termos e políticas de dados.</a>
      </div>

      <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round" [disabled]="cadastroForm.invalid">
        Continuar
      </ion-button>
    </form>

    <fieldset>
      <legend>Ou cadastre-se com</legend>
    </fieldset>

    <div id="divAcessos">
      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/facelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/twitterlogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/googlelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>
    </div>
  </div>
</ion-content>
