<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src= "/assets/logoprincipal.svg" id="logoPrincipal">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Cadastrar-se</h3>
    <p id="Descricao">preencha os campos abaixo</p>

    <div id="stepProgressBar">
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Id</ion-label>
        <ion-input (ionChange)="idIsUsed()" formControlName="Id" type="text" placeholder="Digite aqui o nome" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.Id">
        <ng-container *ngIf="Id.hasError(error.type) && (Id.dirty || Id.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ng-container *ngIf="confirmId && (Id.dirty || Id.touched)">
        <small class="error-message">Esse Id ja esta cadastrado</small>
      </ng-container>
      <ion-item lines="full">
        <ion-label position="floating">Nome de usuário</ion-label>
        <ion-input formControlName="Name" type="text" placeholder="Digite aqui o nome" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.Name">
        <ng-container *ngIf="Name.hasError(error.type) && (Name.dirty || Name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input (ionChange)="emailIsUsed()" formControlName="Email" type="email" placeholder="Digite aqui o email" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.Email">
        <ng-container *ngIf="Email.hasError(error.type) && (Email.dirty || Email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="confirmEmail && (Email.dirty || Email.touched)">
          <small class="error-message">Esse email já está cadastrado</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="Password" type="password" placeholder="Digite aqui a senha" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.Password">
        <ng-container *ngIf="Password.hasError(error.type) && (Password.dirty || Password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Confirmar senha</ion-label>
        <ion-input formControlName="ConfirmPassword" type="password" placeholder="Confirme aqui a senha" required></ion-input>
      </ion-item>
      <div>
        <ng-container *ngIf="cadastroForm.hasError('passwordNotMatch') && (ConfirmPassword.dirty || ConfirmPassword.touched)">
          <small class="error-message">As senhas devem ser iguais</small>
        </ng-container>
      </div>
      
      <div id="divTermos">
        <ion-label>Ao clicar em Continuar, você concorda com nossos</ion-label><br>
        <a id="Termos">Termos e políticas de dados.</a>
      </div>

      <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round" [disabled]="cadastroForm.invalid || confirmEmail || confirmId">
        Continuar
      </ion-button>
    </form>

    <fieldset>
      <legend>Ou cadastre-se com</legend>
    </fieldset>

    <div id="divAcessos">
      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/facelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/twitterlogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/googlelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>
    </div>
  </div>
</ion-content>
