<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src= "/assets/logoprincipal.svg" id="logoPrincipal">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Recuperar Senha</h3>
    <p id="Descricao">preencha o campo para recuperar sua senha</p>

    <div id="stepProgressBar">
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      <div class="process"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
    </div>

    <form [formGroup]="recuperarForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Digite aqui o email" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-button type="submit" id="btnEnviar" expand="full" shape="round" [disabled]="recuperarForm.invalid">
        Enviar
      </ion-button>
    </form>

  </div>
</ion-content>
