<ion-content>
  <ion-card class="post">
    <ion-card-content class="contentPost">
      <div class=divSuperior>

        <div class="divAvatar">
          <ion-avatar></ion-avatar>
        </div>
        <div class="divContexto">
          <p>Nome&nbsp;</p>
          <p>País&nbsp;</p>
          <p>Cidade</p>
        </div>
        <div class="divTempo">
          <p>X dias atrás</p>
        </div>

      </div>

      <div class="divSinopse">
        <p class="sinopse">
        Viajei para São Paulo e foi incrível!!
        Essa foi minha primeira viagem para o Brasil, e foi incrível
        o povo brasileiro é muito acolhedor e a comida brasileira
        é a melhor.
        </p>
      </div>

        <div class="divImgMaior">
          <img>
        </div >

      <div class="divMenor">
        <div class="divImgMenor">
          <img>
        </div>
        <div class="divImgMenor">
          <img>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
