<ion-content>
  <ion-card class="post">
    <ion-card-content class="contentPost">
      <div class=divSuperior>

        <div class="divAvatar">
          <ion-avatar></ion-avatar>
        </div>
        <div class="divContexto">
          <p>Matheus Almeida&nbsp;</p>
          <p>Brasil&nbsp;</p>
          <p>São Paulo</p>
        </div>
        <div class="divTempo">
          <p>X dias atrás</p>
        </div>

      </div>

      <div class="divSinopse">
        <p>
        Viajei para São Paulo e foi incrível!!
        Essa foi minha primeira viagem para o Brasil, e foi incrível
        o povo brasileiro é muito acolhedor e a comida brasileira
        é a melhor.
        </p>
      </div>

      <div class="divImagens">
        <div class="divEsquerda"></div>
        <div class="verticalLine"></div>

        <div class="divDireita">
          <div class="divImgMenor"></div>
          <div class="horizontalLine"></div>
          <div class="divImgMenor"></div>
        </div>
      </div>

      <div class="divVerPubli">
        <ion-button shape="round" fill="outline">
          Ver Publicação
        </ion-button>
      </div>

      <div class="divRelevancia">

        <div class="divStats">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>28</ion-label>
        </div>

        <div class="divStats">
          <ion-icon name="star-outline"></ion-icon>
          <ion-label>4.2</ion-label>
        </div>

        <div class="divStats">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>56</ion-label>
        </div>

        <div class="divStats">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>32</ion-label>
        </div>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
