<ion-list lines="none">
  <!-- <ion-item button="true" (click)="btnSeguir()"> -->
  <ion-item button="true">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Seguir</ion-label>
  </ion-item>
  <ion-item button="true">
    <ion-icon name="bookmark-outline"></ion-icon>
    <ion-label>Salvar Post</ion-label>
  </ion-item>
  <ion-item button="true">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <ion-label>Reportar Post</ion-label>
  </ion-item>
  <ion-item button="true">
    <ion-icon name="sad-outline"></ion-icon>
    <ion-label>Sem interesse</ion-label>
  </ion-item>
</ion-list>
