*{
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

ion-header{
  --background: linear-gradient(to top,  #00f9bb 4%,#0afbc1 24%);
}

ion-toolbar{
  --background: linear-gradient(to top,  #00f9bb 4%,#0afbc1 24%);
}

#btnBack{
  color: white;
}

#divAjuste{ // centralizar o logo da div
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84%;
}

#logoPrincipal{
  width: 30px;
}

/*============================================================================================================*/

ion-content{
  --ion-background-color: #00f9bb;
  --ion-background-color: -moz-linear-gradient(top,  #00f9bb 4%, #0afbc1 24%);
  --ion-background-color: -webkit-linear-gradient(top,  #00f9bb 4%,#0afbc1 24%);
  --ion-background-color: linear-gradient(to bottom,  #00f9bb 4%,#0afbc1 24%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9bb', endColorstr='#0afbc1',GradientType=0 );
  height: 100%;
}

/*============================================================================================================*/

#divPrincipal{
  background-color:white;
  color: black;
  height: 100%;
  text-align: center;
  border-radius: 36px 36px 0px 0px;
  padding: 0px 17px 0px 17px;
}

/*============================================================================================================*/

h3{
  padding-top: 6%;
  font-weight: bold;
  font-size: 24px;
}

#Descricao{
  font-size: 12px;
  margin-bottom: 3%
}

/*============================================================================================================*/

ion-item{
  font-size: 14px;
  color: black;
  --border-color: #707070;
  --background: white;
  --min-height: 16px;
  --highlight-color-focused: var(--ion-color-primary);
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: var(--ion-color-primary);
}

.error-message{
  color: var(--ion-color-danger);
  font-size: 10px;
  text-align: left;
  display: flex;
  margin-top: 3px
}

#eye{
  color: #707070;
  margin-top: 24px;
  font-size: 20px;
}

/*============================================================================================================*/

#divEsqueceuSenha{
  text-align: right;
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 6px;
}

#divEsqueceuSenha a{
  color: black;
}

/*============================================================================================================*/

#btnEntrarConta{
  height: 30px;
  font-size: 14px;
  text-transform: none;
  font-weight: bold;
  color: white;
  --background: #00f9bb;
}

/*============================================================================================================*/

#divCriarConta{
  margin-top: 20px;
  margin-bottom: 20px;
  color:black;
  font-size: 12px;
  font-weight: bold;
}

#divCriarConta a{
  color: black;
  text-decoration: underline;
}

/*============================================================================================================*/

fieldset {
  border-top: 1px solid #707070;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  margin:auto;
  position: center;
}

fieldset legend {
  padding: 5px 5px;
  padding-top: 3px;
  font-size: 14px;
  font-weight: bold;
}

/*============================================================================================================*/

#divAcessos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redesSociais{
  width: 36px;
  height: 36px;
  --border-radius: 20px;
  --background: #ffffff;
  margin: 0 6px;
}

ion-img{
  width: 24px;
  height: 26px;
  margin-top: 45%;
}
