<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src= "/assets/logoprincipal.svg" id="logoPrincipal">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">
    <h3>Entrar</h3>
    <p id="Descricao">preencha os campos abaixo para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Digite aqui o email" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="senha" [type]="showPassword ? 'text' : 'password'" placeholder="Digite aqui a senha" required></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" id="eye" (click)="btnShowHide()"></ion-icon>
      </ion-item>
      <div *ngFor="let error of errorMessages.senha">
        <ng-container *ngIf="senha.hasError(error.type) && (senha.dirty || senha.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <div id="divEsqueceuSenha">
        <a (click)="btnRecuperarSenha()">Esqueceu sua senha?</a>
      </div>

      <ion-button type="submit" id="btnEntrarConta" expand="full" shape="round" [disabled]="loginForm.invalid">
        Entrar
      </ion-button>
    </form>

    <div id="divCriarConta">
      <ion-label>Não tem conta?&nbsp;</ion-label>
      <a (click)="btnSemConta()">Cadastre-se</a>
    </div>

    <fieldset>
      <legend>Ou entre com</legend>
    </fieldset>

    <div id="divAcessos">
      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/facelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/twitterlogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/googlelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>
    </div>

  </div>
</ion-content>
