<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back-outline" id="btnBack"></ion-icon>
      </ion-button>
    </ion-buttons>

      <img src= "/assets/travellogo.png" id="logoPrincipal"> <!--Usar esta tag para utilizar imagens-->

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Entrar</h3>
    <p id="Descricao">preencha os dados abaixo para continuar</p>

      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" placeholder="Digite aqui o email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" placeholder="Digite aqui a senha" required></ion-input>
        <ion-icon slot="end" name="eye-outline" id="eye"></ion-icon>
      </ion-item>

    <a id="EsqueceuSenha">Esqueceu sua senha?</a>

    <ion-button id="entrarConta">
      Entrar
    </ion-button>

    <div id="divCriarConta">
      <label>Não tem conta?&nbsp;</label>
      <a id="cadastreSe">Cadastre-se</a>
    </div>

      <fieldset>
        <legend>Ou entre com</legend>
      </fieldset>

    <div id="divAcessos">
      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/facelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/twitterlogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>

      <ion-button class="redesSociais">
        <ion-thumbnail>
          <ion-img src="/assets/googlelogo.png"></ion-img>
        </ion-thumbnail>
      </ion-button>
    </div>

  </div>
</ion-content>
