<ion-header>
  <ion-toolbar>

    <div class="divAjuste">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <div class="divTitle">
        <ion-title>travel</ion-title>
        <ion-icon src= "/assets/logoprincipal.svg" id="logoPrincipal"></ion-icon>
      </div>

      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" class="tabMenor">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab2" class="tabMenor">
        <ion-icon name="flame-outline"></ion-icon>
      </ion-tab-button>

      <ion-card class="tabMaior">
        <ion-tab-button tab="tab3">
          <ion-icon name="add-outline"></ion-icon>
        </ion-tab-button>
      </ion-card>

      <ion-tab-button tab="tab4" class="tabMenor">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab5" class="tabMenor">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
