*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";

}
//=============================================================================================================//

.divAjuste{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divTitle{
  display: flex;
  justify-content: center;
}

ion-title{
  color: var(--ion-color-dark);
  font-weight: bold;
}

#logoPrincipal{
  font-size: 23px;
}

//=============================================================================================================//

ion-tab-bar{
  border-radius: 17px 17px 0px 0px;
  height: 50px;
  border-color: var(--ion-color-medium);
}

ion-tab-button{
  --color-selected: #00f9bb;
}

//.tabMenor{
  //--padding-bottom: 12px;
//}

.tabMenor ion-icon{
  font-size: 18px;
}

.tabMaior{
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--ion-color-medium);
}

.tabMaior ion-icon{
  font-size: 18px;
}

//=============================================================================================================//

ion-badge{
  top: 12px;
  left: calc(50% + 1%);
  font-size: 7px;
  border-radius: 12px;
  padding: 2px 2px 2px 2px;
  min-width: 13px;
  min-height: 13px;
  line-height: 8px;
}
