<ion-content> 
  <ion-list>
    <ion-item>
      <ion-label>
        Novo
      </ion-label>
    </ion-item>
    <ion-item class="divNotifica" *ngFor="let not of notifications;">
      <div class="divAvatar"> 
        <ion-avatar></ion-avatar>
      </div>
      <div class="notificacao">
        <p>{{not.text}}&nbsp;</p>
        <small *ngIf="not.content">{{not.content}}</small><br *ngIf="not.content">
        <small>{{not.time}}</small>
      </div> 
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        Visualizadas
      </ion-label>
    </ion-item>
    <ion-item class="divNotifica" *ngFor="let vis of visualizadas;">
      <div class="divAvatar"> 
        <ion-avatar></ion-avatar>
      </div>
      <div class="notificacao">
        <p>{{vis.text}}&nbsp;</p>
        <small>"{{vis.content}}"</small><br>
        <small>{{vis.time}}</small>
      </div> 
    </ion-item>
  </ion-list>
  
  
</ion-content>