*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
.contentPost{
    padding: 6px 6px 10px 6px;
  }
.divNotifica{
    display: flex;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    border: 1px solid var(--ion-color-medium);
    color: var(--ion-color-dark);
}
.divAvatar{
    align-self: center;
    align-items: center;
    padding-right: 6px;
}
.divAvatar ion-avatar{
    background: #707070;
    width: 28px;
    height: 28px;
}
.notificacao{
    margin-top: 5px;
}
/*
ion-content{
    --overflow:hidden;
}
*/