*{
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

ion-header{
  --background: linear-gradient(to top,  #00f9bb 4%,#0afbc1 24%);
}

ion-toolbar{
  --background: linear-gradient(to top,  #00f9bb 4%,#0afbc1 24%);
}

ion-title{
  color: var(--ion-color-dark);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#logoPrincipal{
  width: 30px;
}

ion-back-button{
  color: white;
}

/*============================================================================================================*/

ion-content{
  --ion-background-color: #00f9bb;
  --ion-background-color: -moz-linear-gradient(top,  #00f9bb 4%, #0afbc1 24%);
  --ion-background-color: -webkit-linear-gradient(top,  #00f9bb 4%,#0afbc1 24%);
  --ion-background-color: linear-gradient(to bottom,  #00f9bb 4%,#0afbc1 24%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9bb', endColorstr='#0afbc1',GradientType=0 );
  height: 100%;
}

/*============================================================================================================*/

#divPrincipal{
  background-color:white;
  color: black;
  height: 100%;
  text-align: center;
  border-radius: 36px 36px 0px 0px;
  padding: 0px 17px 0px 17px;
}

/*============================================================================================================*/

h3{
  padding-top: 6%;
  font-weight: bold;
  font-size: 24px;
}

#Descricao{
  font-size: 12px;
  margin-bottom: 3%;
}

/*============================================================================================================*/

#stepProgressBar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.process{
  height: 2px;
  background:#707070;
  width: 50px;
}

.processComplete{
  height: 2px;
  background:#00f9bb;
  width: 50px;
}

.check{
  font-size: 18px;
  color:#707070;
}

.checkComplete{
  color: #00f9bb;
  font-size: 18px;
}

/*============================================================================================================*/

.divContexto{
  display: flex;
  justify-content: left;
  color:black;
  margin-top: 12px;
  margin-bottom: 2px;
}

h4{
  font-size: 18px;
  line-height: 1.5;
}

.lugares{
  text-align: left;
  margin-bottom: 24px
}

ion-chip{
  margin: 2px;
  padding: 0px 12px;
  height: 26px;
  font-size: 12px;
  --background: none;
  border: 1px solid var(--ion-color-medium);
}

.btnEstados{
  --background: #7ffcdd;
  color: var(--ion-color-dark);
  border: none;
}

.btnClicked{
  --background:#00f9bb;
  color: white;
  font-weight: bold;
  border: none;
}

.estadoClicked{
  border: 1px solid var(--ion-color-dark);
}

/*============================================================================================================*/

#btnCadastrarConta{
  height: 30px;
  font-size: 14px;
  text-transform: none;
  font-weight: bold;
  color: white;
  --background: #00f9bb;
  margin-top: 20px;
}
