<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="btnVoltar()">
        <ion-icon slot="icon-only" name="chevron-back-outline" id="btnBack"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div id="divAjuste">
      <img src= "/assets/travellogo.png" id="logoPrincipal">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="divPrincipal">

    <h3>Último passo</h3>
    <p id="Descricao">preencha o campo abaixo</p>

    <div id="stepProgressBar">

      <div class="stepComplete">
        <div class="bulletProgressComplete">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="stepComplete">
        <div class="bulletProgressComplete">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="step">
        <div class="bullet">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

    </div>

    <div class="divContexto">
      <h4>De onde você é?</h4>
    </div>

    <div class="lugares">
      <ion-item lines="full">
        <ion-label position="stacked">País:</ion-label>
        <ion-select>
          <ion-select-option>Brasil</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Cidade:</ion-label>
        <ion-select>
          <ion-select-option>São Paulo</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="divRadio">
      <ion-radio-group  allow-empty-selection>
        <ion-radio></ion-radio>
        <ion-label>Prefiro não dizer</ion-label>
      </ion-radio-group>
    </div>

    <div class="divContexto">
      <h4>Aonde quer conhecer?</h4>
    </div>

    <div class="lugares">
      <ion-item lines="full">
        <ion-label position="stacked">País:</ion-label>
        <ion-select>
          <ion-select-option>Brasil</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Cidade:</ion-label>
        <ion-select>
          <ion-select-option>São Paulo</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="divRadio">
      <ion-radio-group  allow-empty-selection>
        <ion-radio></ion-radio>
        <ion-label>Prefiro não dizer</ion-label>
      </ion-radio-group>
    </div>

    <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round">
      Continuar
    </ion-button>

  </div>
</ion-content>
