<ion-content>
  <ion-list >
    <ion-item id="titulo" *ngIf="this.search.cacheSearch.length>0">
      <ion-label>Pesquisado recentemente</ion-label>
        <ion-button (click)="clearCache()">
          <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
        </ion-button>
    </ion-item>
      
      <ion-item class="cache" (click)="Search(op)" *ngFor="let op of this.search.cacheSearch; let last = last" >
        <ng-container *ngIf="last">
          {{setGesture()}}
        </ng-container>
        <ion-label>
          {{op}}
        </ion-label>
        <ion-icon name="open-outline"></ion-icon>
      </ion-item>

  </ion-list>
</ion-content>
