*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}
ion-menu{
  --max-width: 80%;
}

/*.divHeader{
  background-color: var(--ion-color-edit);
  border-bottom: 1px solid var(--ion-color-medium);
}*/

.divImagens{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
}

.imgFundo{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.divImagens ion-avatar{
  border: 1px solid white;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 32px;
}

.divDados{
  text-align: center;
}

.divDados h3{
  font-size: 16px;
  margin-top: 4px;
}

.divDados p{
  font-size: 10px;
}

//=============================================================================================================//

.divRelevancia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding-bottom: 8px;
}

.divStats{
  display:flex;
  justify-content: center;
  margin: 0 10px;
  }

.divStats ion-label{
  font-size: 10px;
}

.divStats ion-icon{
  font-size: 12px;
  padding-right: 4px;
}

//=============================================================================================================//

ion-list{
  background: none;
}

ion-item{
  font-size: 12px;
  --background: none;
  --min-height: 40px
}

ion-item ion-icon{
  padding-right: 8px;
  font-size: 20px;
}

.active-item{
  border-left: 4px solid #00f9bb;
  color: #00f9bb
}

.active-item ion-icon{
  color: #00f9bb;
}

ion-toggle{
  height: 16px;
  width: 28px;
  --handle-spacing: 1px;
  --handle-height: 14px;
  --handle-width: 14px;
  --background-checked: #004a38;
  --handle-background-checked: #00f9bb;
}

//=============================================================================================================//

.divContas{
  text-align: center;
  font-size: 10px;
  padding-top: 6px;
  line-height: 2;
  border-top: 1px solid var(--ion-color-medium);
}

.divContas a{
  text-decoration: underline;
}

