<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src= "/assets/logoprincipal.svg" id="logoPrincipal">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Recuperar Senha</h3>
    <p id="Descricao">preencha o campo para recuperar sua senha</p>

    <div id="stepProgressBar">
      <ion-icon name="checkmark-circle-outline" class="checkComplete"></ion-icon>
      <div class="processComplete"></div>
      <ion-icon name="checkmark-circle-outline" class="checkComplete"></ion-icon>
      <div class="processComplete"></div>
      <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
    </div>

    <form [formGroup]="redefinirForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="senha" type="password" placeholder="Digite aqui a nova senha" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.senha">
        <ng-container *ngIf="senha.hasError(error.type) && (senha.dirty || senha.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Confirmar senha</ion-label>
        <ion-input formControlName="confirmar_senha" type="password" placeholder="Confirme aqui a nova senha" required></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.confirmar_senha">
        <ng-container *ngIf="confirmar_senha.hasError(error.type) && (confirmar_senha.dirty || confirmar_senha.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round" [disabled]="redefinirForm.invalid">
        Continuar
      </ion-button>
    </form>

    <div id="divRetornar">
      <a (click)="btnRetornarLogin()">
        Voltar para a tela de Login
      </a>
    </div>

  </div>
</ion-content>
