<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="btnVoltar()">
        <ion-icon slot="icon-only" name="chevron-back-outline" id="btnBack"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div id="divAjuste">
      <img src= "/assets/travellogo.png" id="logoPrincipal">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divPrincipal">

    <h3>Recuperar Senha</h3>
    <p id="Descricao">preencha o campo para recuperar sua senha</p>

    <div id="stepProgressBar">

      <div class="stepComplete">
        <div class="bulletProgressComplete">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="stepComplete">
        <div class="bulletProgressComplete">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="step">
        <div class="bullet">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

    </div>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" placeholder="Digite aqui a nova senha" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar senha</ion-label>
      <ion-input type="password" placeholder="Confirme aqui a nova senha" required></ion-input>
    </ion-item>

    <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round">
      Continuar
    </ion-button>

    <div id="divRetornar">
      <a (click)="btnRetornarLogin()">
        Voltar para a tela de Login
      </a>
    </div>

  </div>
</ion-content>
