<ion-content>
  <form>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Título da postagem</ion-label>
        <ion-input type="text"></ion-input>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Localização</ion-label>
        <ion-input #local (ionChange)="searchLocalization($event)" type="text" placeholder="Ex: São Paulo, Brasil / Restaurante"></ion-input>
        <ng-container>
          <span class="options" *ngFor="let lugar of places">
            <p>{{lugar.description}}</p> 
            <ion-icon slot="end" name="open-outline"></ion-icon>
          </span> 
        </ng-container>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
     
      <ion-item id="contentItem">
        <ion-label position="floating">Conteúdo</ion-label>
        <ion-textarea type="text" maxlength="300" rows="8" auto-grow="true">
        </ion-textarea>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <div class="divPosts">
      <ion-chip>Post +</ion-chip>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="images-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </form>
</ion-content>
