<ion-content>
  <form [formGroup]="postForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Título da postagem</ion-label>
        <ion-input #title type="text"></ion-input>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Localização</ion-label>
        <ion-input #local clearInput (ionBlur)="clearPlaces()" (ionChange)="searchLocalization($event)" type="text" placeholder="Ex: São Paulo, Brasil / Restaurante"></ion-input>
        <ng-container>
          <span class="options" *ngFor="let lugar of places" (click)="selectPlace(lugar)">
            <p>{{lugar.description}}</p> 
            <ion-icon slot="end" name="open-outline"></ion-icon>
          </span> 
        </ng-container>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
     
      <ion-item id="contentItem">
        <ion-label position="floating">Conteúdo</ion-label>
        <ion-textarea #content type="text" maxlength="300" rows="8" auto-grow="true">
          
        </ion-textarea>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="photo.length>0">
        <ion-grid fixed class="postImg">
          <ion-row>
            <ion-col  *ngFor="let foto of photo" size="6"><img [src]="foto.data"/></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <div class="divPosts">
      <ion-chip (click)="addPost()">Post +</ion-chip>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="galery()">
          <ion-icon name="images-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="camera()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </form>
</ion-content>
