<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="mainTitle">
      Criar post
    </ion-title>

    <ion-chip slot="end" [class]='(citySelected.trim().length && postForm.valid)?"selected":""' (click)="postThread()">
      <ion-label>Postar</ion-label>
    </ion-chip>

  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="postForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Título da postagem</ion-label>
        <ion-input formControlName="Title" type="text"></ion-input>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="Locality">
        <div>
          <ion-label>Localização</ion-label>
          <ng-container *ngFor="let country of countrys">
            <ion-chip *ngIf="countrySelected == country || countrySelected == ''" [class]="(countrySelected==country?'selected':'')+' places'" (click)="selectCountry(country)">
              <ion-label>{{country}}</ion-label>
            </ion-chip>
            <ng-container *ngFor="let city of locality[countrySelected]">
              <ion-chip *ngIf="countrySelected == country && (citySelected == '' || citySelected == city)" (click)="selectCity(city)" [class]="(citySelected == city?'citySelected':'city')+' places'" >
                <ion-label>{{city}}</ion-label>
              </ion-chip>
            </ng-container>
          </ng-container>
          
        </div>
        
      </ion-item>
     
      <ion-item id="contentItem">
        <ion-label position="floating">Conteúdo</ion-label>
        <ion-textarea formControlName="Content" type="text" maxlength="300" rows="8" auto-grow="true">
          
        </ion-textarea>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="photo.length>0">
        <ion-grid fixed class="postImg">
          <ion-row>
            <ion-col  *ngFor="let foto of photo" size="6"><img [src]="foto.data"/></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rota</ion-label>
        <ion-input #local (ionBlur)="clearPlaces()" (ionChange)="searchLocalization($event)" formControlName="Rote" type="text"></ion-input>
        <ion-icon name="create-outline" slot="end"></ion-icon>
        <div #teste></div>
        <div (click)="selectPlace(op)" class="options" *ngFor="let op of places">
          {{op.description}}
        </div>
      </ion-item>
    </ion-list>
    <div class="divPosts">
      <ion-chip (click)="addPost()">Post +</ion-chip>
      <ion-buttons slot="end">  
        <ion-button (click)="galery()">
          <ion-icon name="images-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="camera()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </form>
</ion-content>
