*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

ion-list{
  padding: 0px 12px 0px 12px;
  background: none;
  margin-top: 12px;
}

ion-item{
  font-size: 14px;
  --highlight-color-focused: none;
  --highlight-color-valid: none;
  --highlight-color-invalid: none;
  --min-height: 12px;
  --background: none;

  ion-icon{
    font-size: 20px;
    margin-top: 24px;
  }
  .options{
    display: flex;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--ion-color-dark);
    margin-top: 5px;
    align-items: center;
    p{
      width: 90%;
    }
    ion-icon{
      margin:0;
    }
  }
  
}
.postImg{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  div{
    width: 100%;
    height: 100%;  
  }
}
#contentItem{
  --padding-top: 2px;
  
}

.divPosts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;
  margin-top: 4px;

  ion-chip{
    padding: 0px 16px 0px 16px;
    --background: none;
    border: 1px solid var(--ion-color-medium);
    height: 24px;
    font-size: 12px;
  }

  ion-icon{
    font-size: 20px;
  }
}


