<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="btnVoltar()">
        <ion-icon slot="icon-only" name="chevron-back-outline" id="btnBack"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div id="divAjuste">
      <img src= "/assets/travellogo.png" id="logoPrincipal">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="divPrincipal">

    <h3>Confirmar seu email</h3>
    <p id="Descricao">preencha o campo abaixo</p>

    <div id="stepProgressBar">

      <div class="stepComplete">
        <div class="bulletProgressComplete">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="step">
        <div class="bulletProgress">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

      <div class="step">
        <div class="bullet">
          <ion-icon name="checkmark-outline" class="check"></ion-icon>
        </div>
      </div>

    </div>

    <div id="divContexto">
      <h4>Digite o código enviado na sua caixa de email</h4>
    </div>

    <form (ngSubmit)="submit()">
      <div id="divCodigo">
        <code-input
        [codeLength]="codigo"
        (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </div>

      <ion-button type="submit" id="btnCadastrarConta" expand="full" shape="round" [disabled]="isDisabled">
        Continuar
      </ion-button>
    </form>

  </div>
</ion-content>
