<ion-grid>
  <div #star>
    <ion-col>
      <ion-icon #stars [name]="stars>=1?'star':'star-outline'"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon #stars [name]="stars>=2?'star':'star-outline'"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon #stars [name]="stars>=3?'star':'star-outline'"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon #stars [name]="stars>=4?'star':'star-outline'"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon #stars [name]="stars>=5?'star':'star-outline'"></ion-icon>
    </ion-col>
  </div>
</ion-grid>

