<ion-grid>
  <ion-row>
    <ion-col>
      <ion-icon [name]="star1" (click)="btnStar1()"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon [name]="star2" (click)="btnStar2()"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon [name]="star3" (click)="btnStar3()"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon [name]="star4" (click)="btnStar4()"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon [name]="star5" (click)="btnStar5()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

