<div class=divComment>
  <div class="divDesc">
    <div class="divHeadSuperior">
      <div class="divEsquerda">
        <div class="divAvatar"><ion-avatar><img [src]="data.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+data.profileImageUrl:'/assets/profile.png'"></ion-avatar></div>
        <div class="divTitulo">
          <p>{{data.name}}</p>
        </div>
        <div class="divTempo">
          <p></p>
        </div>
      </div>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="divSinopse">
      <p>
      {{data.content}}
      </p>
    </div>

    <div class="divInteract">
      <ion-buttons class="votes">
        <table>
          <tr>
            <td>
              <ion-button (click)="upvoteComment()">
                <ion-icon name="chevron-up-outline"></ion-icon>
              </ion-button>
            </td>
            <td>
              <ion-button>
                <ion-icon name="chevron-down-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
          <tr>
            <td>
              <p>{{data.upVotes}}</p>
            </td>
            <td>
              <p>{{data.downVotes}}</p>
            </td>
          </tr>
        </table>
      </ion-buttons>
      <a class="ion-activatable ripple-parent">Responder
        <ion-ripple-effect type=unbounded></ion-ripple-effect>
      </a>
    </div>
  </div>
</div>
