<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>travel<ion-icon src= "/assets/logoprincipal.svg" id="logoPrincipal"></ion-icon></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <a>
    <div id="divPaisagem" class="ion-activatable ripple-parent">
      <ion-ripple-effect type=unbounded></ion-ripple-effect>
    </div>
  </a>

  <div class="divInfos">
    <a>
      <ion-avatar id="avatar" class="ion-activatable ripple-parent"><img [src]="userProfile.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+userProfile.profileImageUrl:'/assets/profile.png'">
        <ion-ripple-effect type=unbounded></ion-ripple-effect>
      </ion-avatar>
    </a>

    <div class="divId">
      <a id="nome" class="ion-activatable ripple-parent">{{userProfile.name}}
        <ion-ripple-effect type=unbounded></ion-ripple-effect>
      </a>

      <p id="usuario">@{{userProfile.id}}</p>

      <div class="divLocal">
        <ion-icon name="location-outline"></ion-icon>
        <p>{{userProfile.location.locality}}, {{userProfile.location.country}}</p>
      </div>

    </div>

  </div>

  <div class="divStats">
    <div>
      <p>{{userProfile.publicationCount}}</p>
      <p>Posts</p>
    </div>
    <div>
      <p>{{userProfile.followingCount}}</p>
      <p>Seguindo</p>
    </div>
    <div>
      <p>{{userProfile.followersCount}}</p>
      <p>Seguidores</p>
    </div>
  </div>

  <div class="divMeusPosts">
    <p>Minhas Publicações</p>

    <ion-buttons>

      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </div>

  <app-post *ngFor="let post of userPosts" [post_data]="post"></app-post>

</ion-content>
