<ion-card class="post" button="true" (click)="entrarPost()">
  <div class=divSuperior>
    <div class="divAvatar">
      <ion-avatar> <img [src]="data.author.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+data.author.profileImageUrl:'/assets/profile.png'"> </ion-avatar>
    </div>
    <div class="divHeadSuperior">
      <div class="grid">
        <div class="divTitulo">
          <p>{{data.author.name}}</p>
        </div>
        <div class="divTempo">
          <p>{{this.time}}</p>
          <p class="lugar">&nbsp;em&nbsp;{{data.locality}},&nbsp;</p>
          <p class="lugar">{{data.country}}</p>
        </div>
      </div>

      <ion-buttons slot="end">
        <ion-button (click)="openPopover($event)">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="title">
    <p>{{data.title}}</p>
  </div>
  <div class="divSinopse">
    <p>
    {{data.content}}
    </p>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ng-container *ngFor="let img of images; let last = last">
        <ion-col [size]="(images.length == 1) || (images.length%2==1 && last)?'12':'6'">
          <img [src]="img" alt="" [style]="images.length == 1?'max-height: 200px;':''">
        </ion-col>
      </ng-container>     
    </ion-row>

  </ion-grid>


  <div class="divRelevancia">

    <div class="divStats">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>{{data.evaluation.totalRate}}</ion-label>
    </div>

    <div class="divStats">
      <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-label>{{data.totalComments}}</ion-label>
    </div>
  </div>
</ion-card>
