*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}

.post{
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
}

.contentPost{
  padding: 6px 6px 10px 6px;
}

.divAvatar{
  float:left;
  padding-right: 6px;
}

.divAvatar ion-avatar{
  background: #707070;
  width: 28px;
  height: 28px;
}

.divContexto{
  display: flex;
  align-items:baseline;
  justify-content: left;
}

.divContexto p{
  font-size: 11px;
}

.divContexto .lugar{
  font-size: 8px;
  color: #707070;
}

.divTempo p{
  font-size: 8px;
  color: #707070;
}

//=============================================================================================================//

.divSinopse{
  padding: 2px 2px 8px 2px;
}

.divSinopse p{
  font-size: 10px;
}
//=============================================================================================================//

.divImagens{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.divMaior{
  width: 70%;
  min-height: 140px;
  border-radius: 16px 0px 0px 16px;
  background-image: url('/assets/monument1.jpg');
  background-size: cover;
  background-position: center;
}

.linhaVertical{
  height: 120px;
  width: 2px;
}

//=============================================================================================================//

.divDireita{
  display: grid;
  align-items: center;
  width: 30%;
}

.divMenor{
  height: 69px;
  border-radius: 0px 16px 0px 0px;
  background-image: url('/assets/monument2.jpg');
  background-size: cover;
  background-position: center;
}

.divMenor2{
  height: 69px;
  border-radius: 0px 0px 16px 0px;
  background-image: url('/assets/torre.jpg');
  background-size: cover;
  background-position: center;
}

.linhaHorizontal{
  height: 2px;
  width: 30%;
}

//=============================================================================================================//

.divRelevancia{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.divStats{
  display:flex;
  justify-content: center;
  margin: 0 20px;
  }

.divStats ion-label{
  font-size: 10px;
  color: var(--ion-color-dark);
}

.divStats ion-icon{
  font-size: 14px;
  padding-right: 2px;
}
