<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>Post</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">




    <div class=divSuperior>

      <div class="divAvatar">
        <ion-avatar> <img src="/assets/jesse.jpg"> </ion-avatar>
      </div>


      <div class="divDesc">
        <div class="divHead">
          <div class="grid">
            <div class="divContexto">
              <p>Jesse Pinkman&nbsp;</p>
            </div>
            <div class="divTempo">
              <p>X dias atrás</p>
              <ion-label class="lugar">&nbsp;França</ion-label>
              <ion-label class="lugar">,&nbsp;París</ion-label>
            </div>
          </div>

          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="divSinopse">
          <p>
          Viajei para São Paulo e foi incrível!!
          Essa foi minha primeira viagem para a França, e foi incrível.
          O povo francês é muito acolhedor e a comida francesa
          é a melhor.
          </p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
