<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>Post</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="thread">

  <div class=divSuperior >

    <div class="divEsquerda">
      <div class="divAvatar"><ion-avatar><img [src]="thread.author.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+thread.author.profileImageUrl:'/assets/profile.png'"></ion-avatar></div>
      <div class="divLine"></div>
    </div>

    <div class="divDesc">
      <div class="divHeadSuperior">
        <div class="grid">
          <div class="divTitulo">
            <p>{{thread.author.name}}</p>
          </div>
          <div class="divTempo">
            <p>X dias atrás</p>
            <p class="lugar">&nbsp;em&nbsp;França</p>
            <p class="lugar">,&nbsp;París</p>
          </div>
        </div>

        <ion-buttons slot="end">
          <ion-button (click)="openPopover($event)">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="title">
        <p>{{thread.title}}</p>
      </div>
      <div class="divSinopse">
        <p>
        {{thread.content}}
        </p>
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let img of thread.images"><ion-img [src]="'https://storageapptravel.blob.core.windows.net/postimages/'+img"></ion-img></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="divPrincipal" *ngFor="let post of replacedThread">
    <div class="divEsquerda">
      <ion-icon name="ellipse-outline"></ion-icon>
      <div class="divLine"></div>
    </div>

    <div class="divDesc">
      <div class="divHeadPrincipal">
        <div class="divTitulo">
            <p> &nbsp;</p>
            <p>X dias atrás</p>
        </div>
        <ion-buttons slot="end">
          <ion-button (click)="openPopover($event)">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      
      <div class="title">
        <p>
          {{post.title}}
        </p>
      </div>
      <div class="divSinopse">
        <p>
          {{post.content}}
        </p>
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let img of post.images"><ion-img [src]="'https://storageapptravel.blob.core.windows.net/postimages/'+img"></ion-img></ion-col>
        </ion-row>
      </ion-grid>
      

    </div>
  </div>
  
  <div class="divPrincipal" *ngIf="linkRote">
    <div class="divEsquerda">
      <ion-icon name="ellipse-outline"></ion-icon>
      <div class="divLine"></div>
    </div>

    <div class="divDesc">
      <div class="divHeadPrincipal">
        <div class="divTitulo">
            <p>Jesse Pinkman&nbsp;</p>
            <p>X dias atrás</p>
        </div>
        <ion-buttons slot="end">
          <ion-button (click)="openPopover($event)">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="divLocal">
        <p>Rota Completa&nbsp;</p>
        
      </div>
      <div class="divSinopse">
        <p>
        </p>
      </div>
      <div class="divImg1">
      </div>

    </div>
  </div>

  <ion-buttons class="stats">
    <ion-button (click)="openStars($event)">
      <ion-icon name="star-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="chatbubble-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="btnSavePost()">
      <ion-icon [name]="savePostIcon" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <h1>{{thread.evaluation.evaluetionsCount}} Avaliações</h1>
  <div class="divDesempenho" *ngIf="thread">
    <div class="avaliacoes">

      <table>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalFiveStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalFourStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalThreeStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalTwoStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalOneStars}}</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="avaliacoes">
      <h2>{{thread.evaluation.totalRate}}</h2>
    </div>
  </div>

  <h1>1240 Comentários</h1>

</ion-content>
