<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>Post</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="thread">
  <div class=divSuperior >
    <div class="divDesc">
      <div class="divHeadSuperior"  (click)="openProfile()">
        <div class="grid">
          <div class="divEsquerda" (click)="openProfile()">
            <div class="divAvatar"><ion-avatar><img [src]="thread.author.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+thread.author.profileImageUrl:'/assets/profile.png'"></ion-avatar></div>
            <div class="divLine"></div>
          </div>
          <div class="divTitulo">
            <p>{{thread.author.name}}</p>
            <p>X dias atrás</p>
            <p class="lugar">em&nbsp;{{thread.locality}}</p>
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="openPopover($event)">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>       
      </div>
      <div class="title">
        <p>{{thread.title}}</p>
      </div>
      <div class="divSinopse">
        <p>
        {{thread.content}}
        </p>
      </div>
      <ion-grid fixed>
        <ion-row>
        <ng-container *ngFor="let img of thread.images; let last = last">
          <ion-col [size]="(thread.images.length == 1) || (thread.images.length%2==1 && last)?'12':'6'">
            <img [src]="'https://storageapptravel.blob.core.windows.net/postimages/'+img" alt="" [style]="thread.images.length == 1?'max-height: 200px;':''">
          </ion-col>
        </ng-container>     
      </ion-row>
      </ion-grid>
      
    </div>
  </div>
  <div class='divSuperior' *ngFor="let post of replacedThread">
    <div class="divDesc">
      <div class="divHeadSuperior"  (click)="openProfile()">
        <div class="grid">
          <div class="divEsquerda" (click)="openProfile()">
            <div class="divAvatar"><ion-avatar><img [src]="thread.author.profileImageUrl?'https://storageapptravel.blob.core.windows.net/profilephotos/'+thread.author.profileImageUrl:'/assets/profile.png'"></ion-avatar></div>
            <div class="divLine"></div>
          </div>
          <div class="divTitulo">
            <p>{{post.author.name}}</p>
            <p>X dias atrás</p>
            <p class="lugar">em&nbsp;{{post.locality}}</p>
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="openPopover($event)">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>       
      </div>
      <div class="title">
        <p>{{post.title}}</p>
      </div>
      <div class="divSinopse">
        <p>
        {{post.content}}
        </p>
      </div>
      <ion-grid fixed>
        <ion-row>
        <ng-container *ngFor="let img of post.images; let last = last">
          <ion-col [size]="(post.images.length == 1) || (post.images.length%2==1 && last)?'12':'6'">
            <img [src]="'https://storageapptravel.blob.core.windows.net/postimages/'+img" alt="" [style]="post.images.length == 1?'max-height: 200px;':''">
          </ion-col>
        </ng-container>     
      </ion-row>
      </ion-grid>
      
    </div>
  </div>

  <ion-buttons class="stats">
    <ion-button (click)="openStars($event)">
      <ion-icon [name]="evalueted?'star':'star-outline'" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="comentar()">
      <ion-icon name="chatbubble-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="btnSavePost()">
      <ion-icon [name]="savePostIcon" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <h1>{{thread.evaluation.evaluetionsCount}} Avaliações</h1>
  <div class="divDesempenho" *ngIf="thread">
    <div class="avaliacoes">

      <table>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalFiveStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalFourStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalThreeStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalTwoStars}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            </div>
          </td>
          <td>
            <p>{{thread.totalOneStars}}</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="avaliacoes">
      <h2>{{thread.evaluation.totalRate}}</h2>
    </div>
  </div>

  <h1> {{thread.totalComments}} Comentários</h1>
  <ion-item lines="full" class="comentar">
    <ion-textarea #content type="text" [rows]="commentLines" placeholder="Ótimo lugar para viajar!!" (ionChange)="updateRows($event)"></ion-textarea>
    <ion-chip (click)="comentar()">comentar</ion-chip>
  </ion-item>
    <app-comentario [comment_data]="comment" *ngFor="let comment of comments">
    </app-comentario>

</ion-content>
